* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: #000;
    color: white;
}

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
                url('./asset/netflix\ background.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px 8%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
}

.logo {
    width: 150px;
}

.signin-btn {
    background-color: #db0510;
    color: white;
    border: none;
    padding: 7px 17px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.signin-btn:hover{
    background-color: #ab060e;
}

.lang-btn {
    background: rgba(0,0,0,0.4);
    color: white;
    border: 1px solid #aaa;
    padding: 5px 15px;
    margin-right: 15px;
    border-radius: 4px;
}

.hero-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.cta-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.email-signup {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.email-signup input {
    width: 400px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #555;
    color: white;
    border-radius: 4px;
}

.started:hover{
    background-color: #ab060e;
}

.email-signup button {
    background-color: #db0510;
    color: white;
    padding: 10px 30px;
    font-size: 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.container {
    padding: 50px 8%;
    background-color: #000;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.trending-row {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    padding-bottom: 40px;
}

.movie-card {
    position: relative;
    min-width: 160px;
}

.movie-card img {
    width: 100%;
    border-radius: 8px;
}

.movie-card img:hover{
    transform: scale(1.1);
    animation-delay: 1s;
}

.rank {
    position: absolute;
    left: -20px;
    bottom: -10px;
    font-size: 6rem;
    font-weight: 900;
    color: black;
    -webkit-text-stroke: 2px #fff;
    z-index: 1;
}

.reasons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.reason-card {
    background: linear-gradient(135deg, #192241 0%, #210e17 100%);
    padding: 24px;
    border-radius: 16px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.card-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 75px;
    height: 75px;
    opacity: 0.9;
    filter: drop-shadow(0 0 10px rgba(255, 0, 150, 0.5));
}

.reason-card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.reason-card p {
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5;
}



.faq-container {
    padding: 70px 8%;
    background-color: #000;
    text-align: center;
}

.faq-container h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.faq-list {
    max-width: 1200px;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq-box {
    background-color: #2d2d2d;
    color: white;
    width: 100%;
    padding: 24px;
    font-size: 1.5rem;
    text-align: left;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-box:hover {
    background-color: #414141;
}

.faq-box span {
    font-size: 2.5rem;
    font-weight: 300;
}

.faq-cta p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

footer {
    padding: 70px 15%;
    color: rgba(255, 255, 255, 0.7);
    border-top: 8px solid #232323;
}

.footer-contact {
    margin-bottom: 30px;
}

.footer-contact a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-bottom: 15px;
}

footer ul li a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9rem;
    text-decoration: underline;
}

.footer-country {
    margin-top: 30px;
    font-size: 0.9rem;
}